.user_wrapper {
    border: 1.5px solid #cccccc;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin: 8px 10px;
    padding: 2px;
    cursor: pointer;
    box-shadow: 1.9px 0.8px 4.8px hsl(0deg 0% 0% / 19%);
}
.user_wrapper_active {
    border: 1.5px solid #1e90ff;
    background-color: #fffffff5;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin: 8px 10px;
    padding: 2px;
    cursor: pointer;
}
.user_wrapper:hover {
    border-color: #95c1e1;
    background-color: #f5f5f5;
    box-shadow: 5.6px 2.3px 7.3px hsl(0deg 0% 0% / 25%);
}
.user_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    padding: 6px 14px;
    min-width: 25px;
}

.user_info {
    display: flex;
    width: 80%;
}

.user_last_msg{
    color: #b4b2b2;
    font-size: 12px;
}

.user_name{
    font-size: 14px;
}

.new_message_count {
    margin: 8px;
}
